/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.content {
  display: flex;
  justify-content: space-between;
}

.budget-section, .expense-section {
  flex: 1;
}

.budget-form, .expense-form {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .currency {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-success {
  background-color: #4caf50;
  color: #fff;
}

.btn-danger {
  background-color: #4caf50;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.btn-clear {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #999;
}
#clear{
  background-color: #ff0000;
  color: #eeeeee;
  padding: 10px;
  border: none;
  margin-left: 300px;
  cursor: pointer;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}


/* Additional CSS for logout button */
#logout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #f44336; /* Red color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#logout-btn:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}
